@media (max-width: 1400px) {
  .connection__box .connection__adress,
  .connection__box .connection__phones,
  .connection__box .connection__mail,
  .connection__box .connection__skype {
    margin-right: 0;
  }
  .connection__link {
    display: block;
    text-align: center;
    margin-top: 25px;
  }
  .connection {
    &__adress {
      max-width: 100%;
      margin-bottom: 15px;
      white-space: nowrap;
    }
    &__phones {
      max-width: 100%;
      margin-bottom: 15px;
    }
    &__mail {
      max-width: 100%;
      margin-bottom: 15px;
    }
    &__skype {
      max-width: 100%;
      margin-bottom: 15px;
    }
    .connection__inner {
      display: block;
      column-count: 1;
    }
    .connection__link {
      display: block;
      text-align: center;
      margin-top: 20px;
    }
    .promo .slick-prev,
    .promo .slick-next {
      display: none;
    }
    .slick-prev,
    .slick-next {
      display: none;
    }
    .connection__box {
      display: inline-block;
      &:first-child {
        margin-right: 30px;
      }
    }
    .connection__link {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
@media (max-width: 1285px) {
  .products {
    .parts__item {
      max-width: 100%;
    }
  }
  .parts__item {
    max-width: 260px;
  }
  .parts__box-price {
    font-size: 17px;
  }
  .connection .connection__adress,
  .connection__mail,
  .connection__skype,
  .connection__phones {
    text-align: left;
  }
  .connection__inner {
    display: inline-block;
    padding: 0 10px;
    column-count: 3;
    column-gap: 110px;
  }
}
@media (max-width: 1200px) {
  .product-promo__info-link {
    max-width: 338px;
    width: 100%;
    text-align: center;
  }
  .product .product-promo__image {
    max-width: 330px;
    min-height: 252px;
  }
  .product .product-promo__inner {
    display: inline-block;
  }
  .product-promo__info-documents {
    display: block;
  }

  .product-promo__image {
    float: left;
    &:after {
      clear: both;
    }
  }
  .product-promo__info {
    max-width: 100%;
  }
  .product-promo__info-text {
    span {
      display: none;
    }
  }
  .header__navigation {
    padding-left: 60px;
    padding-right: 40px;
  }
  .product__text-info {
    display: flex;
    flex-direction: column;
  }
  .product__text-images {
    order: 1;
    margin-left: 0;
    margin-top: 41px;
  }
  .product__content-items {
    margin-top: 49px;
    margin-bottom: 41px;
  }
}
@media (max-width: 1130px) {
  .header__mail {
    display: none;
  }
}
@media (max-width: 1050px) {
  .products__item--spare {
    -ms-flex-preferred-size: calc(32% - 30px);
    flex-basis: calc(49% - 30px);
    margin-bottom: 30px;
  }

  .connection__adress {
    max-width: 100%;
  }
  .connection__skype {
    max-width: 100%;
  }
  .connection__mail {
    max-width: 100%;
  }
  .connection__phones {
    max-width: 100%;
  }
  .questions {
    padding: 0px;
  }
  .menu__list-item + .menu__list-item {
    margin-left: 20px;
  }
  .menu__list-item:last-child {
    margin-right: 0;
  }
}
@media (max-width: 961px) {
  .connection .connection__adress,
  .connection__mail,
  .connection__skype,
  .connection__phones {
    position: relative;
    a {
      margin-left: 15px;
    }
    img {
      position: absolute;
      left: -10px;
    }
  }
  .parts__box-more {
    padding: 6px 6px;
  }
  .questions__title {
    max-width: 540px;
  }
  .promo {
    background-image: url(../images/content/slider-960.png);
    &__inner {
      padding-left: 47px;
    }
    .advertising {
      padding: 31px 38px;
    }
  }
}
@media (max-width: 955px) {
  .title {
    margin-top: 49px;
  }
  .header__phone {
    display: none;
  }
  .header__call {
    display: none;
  }
}
@media (max-width: 900px) {
  .connection {
    &__adress {
      max-width: 100%;
      margin-bottom: 15px;
    }
    &__phones {
      max-width: 100%;
      margin-bottom: 15px;
    }
    &__mail {
      max-width: 100%;
      margin-bottom: 15px;
    }
    &__skype {
      max-width: 100%;
      margin-bottom: 15px;
    }
  }
  .connection__inner {
    display: block;
    column-count: 1;
  }
}
@media (max-width: 878px) {
  .product__text-images {
    max-width: 100%;
  }
  .header__phones .header__phone-ico {
    left: 0;
  }
  .product__image {
    display: block;
    max-width: 690px;
    width: 100%;
    min-height: 528px;
    padding-top: 30px;
    padding-bottom: 44px;
    margin: 0;
  }
}
@media (max-width: 769px) {
  .contacts__map {
    background-image: url(../images/content/contacts-768.png);
  }
  .contacts__box {
    position: static;
    padding: 41px 39px 45px 36px;
  }
  .about__box {
    padding: 65px 39px 63px 40px;
  }
  .product-promo__info-documents {
    display: inline-block;
  }
  .product {
    padding: 48px 38px 70px 39px;
  }
  .promo {
    background-image: url(../images/content/slider-768.png);
    &__inner {
      padding-left: 39px;
    }
  }
  .promo .advertising__title {
    font-size: 24px;
    line-height: 32px;
  }
  .dignities__item-info {
    font-size: 14px;
    line-height: 24px;
  }
  .questions__title {
    font-size: 18px;
    line-height: 26px;
  }
  .parts__title {
    font-size: 24px;
    line-height: 32px;
  }

  .header__phones img {
    left: 45px;
  }
  .questions__wrapper {
    display: block;
    text-align: center;
  }
  .questions__title {
    max-width: 100%;
  }
}
@media (max-width: 760px) {
  .product__content-text {
    span {
      display: none;
    }
  }
  .product__text-info {
    margin-top: 32px;
  }
  .product-promo__info-link {
    margin-bottom: 14px;
  }
  .product .product-promo__image {
    margin-right: 0;
    margin-bottom: 24px;
    min-height: 220px;
  }
  .product__text {
    margin-bottom: 36px;
  }
  .product-promo__image {
    float: none;
  }
  .product .product-promo__inner {
    display: block;
  }
  .product-promo__info-documents {
    display: block;
  }
  .product__box {
    display: block;
  }
  .product-promo__info-documents {
    margin-bottom: 40px;
  }
}
@media (max-width: 700px) {
  .about__box {
    display: flex;
    flex-direction: column;
    img {
      order: 1;
      margin: 0;
    }
  }
  .product__image {
    max-width: 100%;
    min-height: 220px;
  }
  .products__item {
    flex-basis: 100%;
    max-width: 100%;
  }
  .slider-dots {
    display: none;
  }
  .products__items {
    display: block;
  }
  .connection .connection__link {
    position: static;
  }
}
@media (max-width: 683px) {
  .parts__item {
    max-width: 240px;
  }
}
@media (max-width: 654px) {
  .footer__inner {
    display: block;
  }
  .header__phones img {
    left: 0;
  }
  .parts__box {
    text-align: center;
    display: block;
    &.products__item-box {
      display: flex;
    }
  }
  .footer__copy {
    display: inline-block;
    padding-right: 50px;
  }
}

@media (max-width: 615px) {
  .product__text-images {
    min-height: 220px;
  }
  .product {
    padding: 40px 16px 70px;
  }
  .header__logo {
    margin-left: 50px;
  }

  .menu__btn span {
    display: block;
    margin-bottom: 5px;
    background: #929aab;
    height: 2px;
  }
  .menu__btn {
    display: block;
    width: 24px;
    cursor: pointer;
    height: 24px;
    position: absolute;
    left: 40px;
    top: 34px;
  }
  .menu__list {
    display: none;
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    background-color: #fff;
    .menu__list-item {
      text-align: center;
      display: block;
      margin: 0;
    }
    .menu__list-link {
      padding: 12px 0;
      display: block;
      transition: all 0.3s;
      &:hover {
        background: #3dbaf2;
        color: #ffffff;
      }
    }
  }
}
@media (max-width: 561px) {
  .promo .advertising__title {
    font-size: 18px;
    line-height: 26px;
  }
  .promo {
    background-image: url(../images/content/slider-560.png);
    .advertising {
      padding: 31px 28px;
    }
  }
  .promo .advertising__text {
    font-weight: normal;
  }
  .dignities__item {
    flex-basis: 49%;
  }

  .header__phones img {
    left: 75px;
  }
}
@media (max-width: 500px) {
  .product__content-text,
  .product__content-name {
    &:nth-child(n + 3) {
      display: none;
    }
  }
  .product-promo__info-link--consult {
    padding: 12px 24px;
  }
  .title__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
  }
  .parts__item {
    max-width: 100%;
    margin: 0 auto;
  }
  .slick-dots li + li {
    margin-left: 20px;
  }
  .header__phones img {
    left: 0px;
  }
}
@media (max-width: 455px) {
  .contacts__info-telefon a:nth-child(n + 2) {
    margin-left: 36px;
  }
  .contacts__info a {
    margin-left: 36px;
  }
  .product-promo__info-link {
    max-width: 286px;
    margin-bottom: 14px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .header__navigation {
    padding-left: 0px;
    padding-right: 0px;
  }

  .header__phones .header__phone-ico {
    left: 0;
  }
  .dignities__inner {
    display: block;
    text-align: center;
  }
  .connection__inner {
    display: block;
  }
  .connection__link {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 25px;
  }

  .questions__title {
    line-height: 24px;
  }
}
@media (max-width: 400px) {
  .connection__phone + .connection__phone {
    margin-left: 0px;
  }
  .connection {
    padding: 30px 16px;
  }
}
@media (max-width: 321px) {
  .contacts__box {
    position: static;
    padding: 34px 43px 32px 12px;
  }
  .contacts__map {
    background-image: url(../images/content/contacts-320.png);
  }
  .about__box img {
    min-height: 366px;
    max-width: 100%;
  }
  .about__box p:last-child {
    text-align: left;
    margin-top: 16px;
  }
  .about__box {
    padding: 34px 16px 59px 16px;
  }
  .promo {
    background-image: url(../images/content/slider-320.png);
    .advertising {
      padding: 33px 27px;
    }
    &__inner {
      padding-left: 16px;
    }
  }
}
@media (min-width: 616px) {
  .menu__list {
    display: flex !important;
  }
}
